# Ignore Python virtual environment
.venv/

# Node modules (optional if client has npm)
client/node_modules/
client/.env
# Python cache files
__pycache__/
*.pyc

# Flask environment variables
server/.env
